<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My home</title>
</head>
<body>
    <header>
        <h1>Finding My Home </h1>
    </header>

    <section class="questions">
       
            <questions>
                <form action="/predict" method="post">
                    <label for="bedrooms">Enter bedrooms</label>
                    <input type="number" id="bedrooms" name="bedrooms"><br><br>

                    <label for="bathrooms">Enter bathrooms</label>
                    <input type="number" id="bathrooms" name="bathrooms"><br><br>
    
                    <label for="sqft_living">sqft_lot </label>
                    <input type="number" name="sqft_living" id="sqft_living"><br><br>
    
                    <label for="city">city</label>
                    <select name="city" id="city">
                        <option value="" disabled selected>choose city</option>
                        <option value="Auburn">Auburn</option>
                        <option value="Bellevue">Bellevue</option>
                        <option value="Federal Way">Federal Way</option>
                        <option value="Kent">Kent</option>
                        <option value="Kirkland">Kirkland</option>
                        <option value="Redmond">Redmond</option>
                        <option value="Renton">Renton</option>
                        <option value="Sammamish">Sammamish</option>
                        <option value="Seattle">Seattle</option>
                    </select><br><br>

    
                    <button type="submit">Predict</button><br><br>                
                </form>
            </questions>

            
    </section>
    <section class="results">
        {% if prediction %}
        <div class="resultinfo">
            <h1>Your home options</h1>
            <h2>{{ prediction }}</h2>
        </div>
        {% else %}
        <div>
        <p>Results will be here</p>
        </div>
        {% endif %}

    
    </section>

    
</body>
</html>